// ------------------------
// Background Effects
// ------------------------
.full-bg {
	background-position: center center !important;
	background-size: cover !important;
}

.blur-bg {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.scroll-div {
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}


.button-radius {
	@include border-radius(50%);
}


.vertical-center {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.sub-content {
	color: #666;
}