<ion-view view-title="留洋通" 
	hide-nav-bar="false" ng-init="formMode = 'SIGN_IN'">

	<ion-header-bar class="bar-positive">
	  <h1 class="title">登录</h1>
	  <div class="buttons">
	    <button class="button button-clear">注册</button>
	  </div>
	</ion-header-bar>

	<ion-content scroll="false">
		<div class="animation-switch-container"
    	ng-switch on="formMode">
      <div class="fade" ng-switch-when="SIGN_IN">
      	<ng-include src="'sign-in.html'"></ng-include>
      </div>
      <div class="fade" ng-switch-when="SIGN_UP">
      	<ng-include src="'sign-up.html'"></ng-include>
      </div>
	  </div>
	</ion-content>
	<a href="#/tab/home" class="bar bar-footer bar-calm">
	  <div class="title">Try It Now</div>
	</a>
</ion-view>


<!-- sign-in.html template -->
<script type="text/ng-template" id="sign-in.html">
	<div class="list list-inset">
		<label class="item item-input">
			<span class="input-label">用户名</span>
			<input type="text" ng-model="user.username" placeholder="可以是注册邮箱">
		</label>
		<label class="item item-input">
			<span class="input-label">密码</span>
			<input type="password" ng-model="user.password" placeholder="您的密码">
		</label>
	</div>
	<div class="padding">
		<button class="button button-block button-positive" ng-click="signIn(user)">
			Sign In
		</button>
		<p class="text-center">
			<a href="#/forgot-password">Forgot password</a>
			&nbsp;&nbsp;|&nbsp;&nbsp; 
			<a href="" ng-click="changeMode('SIGN_UP')">Register now</a>
		</p>
	</div>
</script>


<!-- sign-up.html template -->
<script type="text/ng-template" id="sign-up.html">
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Username</span>
			<input type="text" ng-model="user.username">
		</label>
		<label class="item item-input">
			<span class="input-label">Password</span>
			<input type="password" ng-model="user.password">
		</label>
		<label class="item item-input">
			<span class="input-label">Confirm Password</span>
			<input type="password" ng-model="user.passwordConfirm">
		</label>
	</div>
	<div class="padding">
		<button class="button button-block button-positive" ng-click="signUp(user)">
			Sign Up
		</button>
		<p class="text-center">
		<a href="" ng-click="changeMode('SIGN_IN')">Already register?</a>
		</p>
	</div>
</script>